version: '3.3'
services:
    service1:
      image: 34.89.27.101:4999/service1
      build: ./service1
      ports:
      - target: 5000
        published: 5000
        protocol: tcp
    service2:
      image: 34.89.27.101:4999/service2
      build: ./service2
      ports:
      - target: 5001
        published: 5001
        protocol: tcp
    service3:
      image: 34.89.27.101:4999/service3
      build: ./service3
      ports:
      - target: 5002
        published: 5002
        protocol: tcp
    service4:
      image: 34.89.27.101:4999/service4
      build: ./service4
      ports:
      - target: 5003
        published: 5003
        protocol: tcp
