{% extends "layout.html" %}
{% block body_content %}
<div>
	<h2> This s for you:</h2>
	<span>
		<p>
		Once <b><i>  {{ data1 }}</i> </b> said: <i>" {{ data2 }} "</i> <br><br><br>
		   {{ data3 }} <br><br>
	</span>
	<a href="{{ url_for('generate_quote') }} "><b>Do yo want another one?</b></a> <br><br>
		<b>----------------------------------------------------------------------------</b>
		<p> <h3>These are my inspirations so far:</h3> </p>
	{% if posts %}
		{% for item in posts %}
		<div>
			Inspiration n. {{ item.id }}: <br><br>
			<span style="margin-left:2em">
				Once <b><i> {{ item.author }} </i> </b> said: <i>" {{ item.quote }} "</i><br><br>
				{{ item.genuinity }} <br>
			</span>
				--------------------------------
		</div>
		{% endfor %}
	{% endif %}
<div>
{% endblock %}
